NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="a9sjd92jdaçskldjkndg89i23jaskldh29pajsklçhgfd"

DATABASE_URL="DATABASE URL"
REDIS_URL="REDIS URL"

PUSHER_APP_ID="ID"
PUSHER_SECRET="SECRET"
NEXT_PUBLIC_PUSHER_KEY="PUSHER KEY"
NEXT_PUBLIC_PUSHER_CLUSTER="sa1"

NEXT_PUBLIC_LIVEKIT_URL="LIVE KIT URL"
LIVEKIT_API_KEY="API KEY"
LIVEKIT_API_SECRET="SECRET"

NEXT_PUBLIC_GIPHY_API_KEY="API KEY"

S3_BUCKET="typecord"
S3_ACCESS_KEY="typecord"
S3_SECRET_KEY="SENHA"
S3_ENDPOINT="http://localhost:9000"

NEXT_PUBLIC_S3_URL="S3 URL"